# Ignore .cmake and .qtc_clangd directories
QtCafeWorkforceManager/.qtc_clangd/
QtCafeWorkforceManager/.cmake/
QtCafeWorkforceManager/.qt/
QtCafeWorkforceManager/Testing/
QtCafeWorkforceManager/CMakeFiles/
QtCafeWorkforceManager/QtCafeWorkforceManager_autogen/
QtCafeWorkforceManager/QtCafeWorkforceManager_autogen.dir/
QtCafeWorkforceManager/CMakeFiles/QtCafeWorkforceManager.dir/
QtCafeWorkforceManager/QtCafeWorkforceManager.dir/
QtCafeWorkforceManager/QtCafeWorkforceManager.exe
QtCafeWorkforceManager/.ninja_log
QtCafeWorkforceManager/.ninja_deps
QtCafeWorkforceManager/.qtc/
QtCafeWorkforceManager/build.ninja
QtCafeWorkforceManager/CMakeCache.txt.prev
QtCafeWorkforceManager/qtcsettings.cmake
QtCafeWorkforceManager/CMakeLists.txt.user
QtCafeWorkforceManager/.ninja_deps
QtCafeWorkforceManager/build.ninja
QtCafeWorkforceManager/cmake_install.cmake
QtCafeWorkforceManager/CMakeCache.txt
QtCafeWorkforceManager/CmakeCache.txt.prev
QtCafeWorkforceManager/CMakeLists.txt.user
QtCafeWorkforceManager/UsersENA*
