# Ignore .cmake and .qtc_clangd directories
QtCafeWorkforceManager/.qtc_clangd/
QtCafeWorkforceManager/.cmake/
QtCafeWorkforceManager/.qt/
QtCafeWorkforceManager/Testing/
QtCafeWorkforceManager/CMakeFiles/
QtCafeWorkforceManager/QtCafeWorkforceManager_autogen/
QtCafeWorkforceManager/QtCafeWorkforceManager_autogen.dir/
QtCafeWorkforceManager/QtCafeWorkforceManager_autogen/
QtCafeWorkforceManager/QtCafeWorkforceManager.dir/